*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    background-color: #F9EAE1;
    padding-top: 60px;
}
.navbar {
    background-color: #CC8B86;
    height: 55px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar a{
    float: left;
    display: block;
    color: black;
    padding: 7px 15px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
}

.navbar a:hover {
    background-color: #7D4F50;
    color: whitesmoke;
    border-radius: 20px;
}


table tr,td{
    border: 1px solid black;
    padding: 8px;
    text-align: center;

}

table th{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    background-color: #7D4F50;
    color: white;
}

table{
    margin-bottom: 50px;

}
table,tr,td,th{
    border: white 3px solid;
}

table tr:hover {background-color: #f5cdca;}

.contentarea{
    width: 1200px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: white;
    border-radius: 50px;
    /* opacity: 0.8; */
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: center;
}
.homeitems{
    width: 300px;
    height: 300px;
    background-color: rgb(243, 242, 242);
    border-radius: 30px;
    text-align: center;
    margin-top: 45px;
    margin-left: auto;
    margin-right: 10px;
    padding-top: 70px;
    padding-left: auto;
    padding-right: auto;
}
.homeitems a{
    text-decoration: none;
    color: black;
}
.homeitems:hover{
    background-color: lightgray;
}
